/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    width: 80vw;
}

.center-it {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.space-around{
    margin: 10px;
}