<form [formGroup]="form" (ngSubmit)="onRegister()">
    <table>
        <tbody>
            <tr>
                <td>Name: </td>
                <td><input type="text" formControlName="name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" formControlName="email"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" [disabled]="form.invalid" class="btn btn-primary">Register</button></td>
            </tr>
        </tbody>
    </table>
</form>