<div class="container" *ngIf="book">
    <div class="row">
        <div class="col text-center">
            <h3>{{book.title}}</h3>
            <img [src]="book.image">
        </div>
        <div class="col">
            <h6>Description</h6>
            <p>{{book.description}}</p>
            <h6>Authors: {{book.authors}}</h6>
            <h6>Edition: {{book!.edition}}</h6>
            <h6>Format: {{book.format}}</h6>
            <h6>Pages: {{book.pages}}</h6>
            <h6>Rating: {{book.rating.toFixed(2)}}</h6>
            <h6>Rating count: {{book.ratingCount}}</h6>
            <h6>Review count: {{book.reviewCount}}</h6>
            <h6>Genres: {{book.genres}}</h6>
        </div>
    <hr/>
    <div class="row">
        <div class="col mb-5 text-center">
            <button class="btn btn-primary" type="button" [routerLink]="['/']">Back</button>
        </div>
    </div>
</div>